.button{
    color: white;
    border: none;
    background-color: #01426A;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover{
    transform: scale(1.05);
    background-color: #004977;
}
.button:active{
    transform: none;
}

.button:disabled{
    background-color: gray;
    transform: none;
}