.home h1, h2{
    color: #626262;
}

.home h1{
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.home h2{
    font-size: 2.7rem;
}

.filtrar{
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: #E8E8E8;
    border-radius: 4px;
    margin: 1rem 0;
}

.postList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    
}

@media (max-width: 1075px) {
    .postList{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .postList{
        grid-template-columns: 1fr;
    }
    .home h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .home h2{
        font-size: 1.5rem;
    }
    
}