.wrapper{
    margin-bottom: 1rem;

}

.error{
    color: #f31;
    font-size: .875rem;
    margin-top: .25rem;
}

.input,
.select{
    height: 40px;
    padding: 9px 5px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
    outline: none ;
    color: #626262;
    background-color: #E8E8E8;
    transition: 0.3s;
    width: 100%;
}

.label{
    display: block;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
    padding-bottom: .5rem;
}