* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --Type-second: "Spectral", georgia;
  font-family: var(--type-first);
  background-color: #ffff;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  display: block;
}

input:hover,
input:focus,
select:hover,
select:focus {
  display: block;
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 1px #53a9df, 0 0 0 2px #01629eb2;
}

button {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.showRigth {
  animation: showRigth 0.3s forwards;
}

@keyframes showRigth {
  to {
    transform: translateX(5px);
  }
  from {
    transform: initial;
  }
}
